.searchbar{
	background-color: #ffe9d7;
	min-height: 90px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0;
}
.searchbar input, button{
	height: 40px;
	border: 1px solid #a7a59b;
}
.btn-success-custom{
	background-color: #27757b;
	color: #fff;
}
.btn-success-custom:hover{	
	background-color: #40888F;
	color: #fff;
}